.static {
  width: 100%;
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: #FFF;
}

.navigation {
  width: $max-website-width;
  height: $navbar-height;
  margin: 0 auto;
  padding: 0 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link-list,
.navigation__icon-list {
  display: flex;
  align-items: center;
  gap: 7.5rem;
  list-style: none;
}

.navigation__icon-list {
  position: relative;
  gap: 4.5rem;
}

.navigation__link {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.navigation__link:hover {
  color: $footer-input-color;
}

.navigation__icon {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
}

.navigation__icon-list-item {
  position: relative;
}

.navigation__icon-notification {
  position: absolute;
  top: -1rem;
  right: -.8rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: #FFF;
  border-radius: 50%;
  background-color: red;
}