$font-name: 'Poppins', sans-serif;

$max-website-width: 1440px;
$navbar-height: 10rem;

// product item
$product-discount-flag-bg: #E97171;
$product-new-flag-bg: #2EC1AC;
$product-content-bg: #F4F5F7;
$product-title-color: #3A3A3A;
$product-desc-color: #898989;
$product-current-price-color: #3A3A3A;
$product-original-price-color: #B0B0B0;
$product-overlay-bg: rgba(58, 58, 58, 0.72);
$product-button-bg: #FFF;
$product-button-color: #B88E2F;

// filters
$filter-container-bg: #F9F1E7;

// paginator
$paginator-bg: #F9F1E7;
$paginator-bg-active: #B88E2F;

// benefit item
$benefit-list-bg: #FAF3EA;
$benefit-title-color: #242424;
$benefit-description-color: #898989;

// footer
$footer-font-color: #9F9F9F;
$footer-input-color: #B88E2F;

// shopping cart
$cart-border-color: #D9D9D9;
$cart-img-bg-color: #D9D9D9;
$cart-price-color: #B88E2F;